<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">

    <!-- Navigation Header -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand" href="#" scroll-to="top">MIKE RAPADAS</a>
    </div>

    <!-- Navigation Links -->
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li><a href="#" scroll-to="who-am-i">Who am I?</a></li>
        <li><a href="#" scroll-to="portfolio">Personal Projects</a></li>
        <li><a href="#" scroll-to="contact">Contact Me</a></li>
      </ul>
    </div>

  </div>
</div>
