<html lang="en" ng-app="mrap">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>MRAP</title>
  <!-- Typekit -->
  <script type="text/javascript" src="//use.typekit.net/glp7kfk.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <!-- ngInclude: 'partials/navigation.html' -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">

    <!-- Navigation Header -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand" href="/" scroll-to="top">MIKE RAPADAS</a>
    </div>

    <!-- Navigation Links -->
    <div class="navbar-collapse collapse" ng-if="isMainPage">
      <ul class="nav navbar-nav pull-right">
        <li><a href="#" scroll-to="who-am-i">Who am I?</a></li>
        <li><a href="#" scroll-to="skills">Skills</a></li>
        <li><a href="#" scroll-to="portfolio">Personal Projects</a></li>
        <li><a href="#" scroll-to="contact">Contact Me</a></li>
        <li><a href="/story.html">My Story</a></li>
      </ul>
    </div>

  </div>
</div>
  <div class="container">
    <div class="resume" ng-controller="ResumeCtrl">

      <div class="section" ng-repeat="story in stories" revealable="">
        <div class="content" id="story-{{$index}}">
          <div class="story reveal">
            <h1 ng-bind="story.chapter"></h1>
            <p class="title-change">
              <span class="prev-title" ng-bind="story.prevTitle"></span>
              <br>
              <i class="fa fa-long-arrow-right"></i>
              <span class="next-title" ng-bind="story.nextTitle"></span>
            </p>
            <div class="controls" ng-class="{&apos;reveal&apos;: ($index == 0) || shouldReveal}" ng-if="$index != stories.length - 1">
              <button class="continue btn btn-primary" scroll-to="story-{{$index + 1}}" duration="2000">
                What happens next?
                <i class="fa fa-chevron-circle-down"></i>
              </button>
            </div>
            <div class="controls" ng-class="{&apos;reveal&apos;: ($index == 0) || shouldReveal}" ng-if="$index == stories.length - 1">
              <p>What happens next?</p>
              <a class="btn btn-success" ng-href="mailto:mike@mrap.me">Say Hello</a>
              <!-- ngInclude: 'partials/skills.html' -->
<div id="skills" class="section">
  <div class="row content">
    <h2 ng-if="isMainPage">A Full Arsenal</h2>
    <div class="col-md-6 col-xs-12">
      <!-- ngInclude: 'partials/languages-list.html' -->
<h4>Fluency</h4>
<div class="skills-group languages" ng-controller="LanguagesCtrl">
  <div class="skill" ng-repeat="language in languages">
    <div class="row">
      <span class="skill-name">{{language.name}}</span>
    </div>
    <div class="row">
      <div class="skillbar-inactive">
        <div class="skillbar-active" style="width: {{language.level}};"></div>
      </div>
    </div>
  </div>
</div>
    </div>

    <div class="col-md-6 col-xs-12">
      <!-- ngInclude: 'partials/skills-list.html' -->
<h4>Skills</h4>
<div class="skills-group skills" ng-controller="SkillsCtrl">
  <div class="skill" ng-repeat="skill in skills">
    <div class="row">
      <span class="skill-name">{{skill.name}}</span>
    </div>
    <div class="row">
      <div class="skillbar-inactive">
        <div class="skillbar-active" style="width: {{skill.level}};"></div>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src="/main.js"></script>
  <flowtype></flowtype>
</body>
</html>
