<html lang="en" ng-app="mrap" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>MRAP</title>
  <!-- Typekit -->
  <script type="text/javascript" src="//use.typekit.net/glp7kfk.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
  <div ng-include src="'partials/navigation.html'"></div>
  <div class="container">
    <div class="resume" ng-controller="ResumeCtrl">

      <div class="section" ng-repeat="story in stories" revealable>
        <div class="content" id="story-{{$index}}">
          <div class="story reveal">
            <h1 ng-bind="story.chapter"></h1>
            <p class="title-change">
              <span class="prev-title" ng-bind="story.prevTitle"></span>
              </br>
              <i class="fa fa-long-arrow-right"></i>
              <span class="next-title" ng-bind="story.nextTitle"></span>
            </p>
            <div class="controls" ng-class="{'reveal': ($index == 0) || shouldReveal}" ng-if="$index != stories.length - 1">
              <p>What happens next?</p>
              <a scroll-to="story-{{$index + 1}}" duration="2000"><i class="fa fa-chevron-circle-down fa-2x"></i></a>
            </div>
            <div class="controls" ng-class="{'reveal': ($index == 0) || shouldReveal}" ng-if="$index == stories.length - 1">
              <p>What happens next?</p>
              <a class="btn btn-success btn-lg" ng-href="mailto:mike@mrap.me">Say Hello</a>
              <div class="section" id="skills" ng-include src="'partials/skills.html'"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/jquery.stellar/jquery.stellar.js"></script>
  <script src="bower_components/flowtype/flowtype.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!-- Bootstrap -->
  <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap.js"></script>
  <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/transition.js"></script>
  <script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/collapse.js"></script>
  <!-- Angular -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
  <script src="bower_components/ng-FitText.js/ng-FitText.js"></script>
  <script src="js/angular-smooth-scroll/angular-smooth-scroll-1.6.0.js"></script>
  <flowtype></flowtype>
</body>
</html>
