@import 'vars';

.contact {
  text-align: center;
  background-color: #2C3E50;
  padding: 50px;

  img {
    height: 200px;
  }

  .hello-btn {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-lg;
    text-align: center;
    width: 50%;
    max-width: 300px;
  }

  .prompt {
    text-color: $text-color-white;
    font-size: 30px;
  }
}

