// Global Defaults
$max-navigation-height: 25%;
$min-navigation-height: 44px;
$animation-duration: 0.5s;
$text-color-white: #ECF0F1;
$color-light-gray: #BDC3C7;
$color-dark-blue: #34495E;
$bg-image: url(http://static.hdw.eweb4.com/media/wallpapers_1920x1080/photography/1/1/blurred-city-lights-photography-hd-wallpaper-1920x1080-9111.jpg);
$padding-left: 12%;

// Open Sans Font Face
$OpenSansPath: "../bower_components/open-sans-fontface/fonts" !default;
@import '../bower_components/open-sans-fontface/open-sans';

// Bootstrap
$font-family-sans-serif: 'Open Sans';
$text-color: $text-color-white;
// Forms
$input-border-color: $color-dark-blue;
$input-color-placeholder: $color-light-gray;
$input-color: $text-color-white;
$input-bg: rgb(255, 255, 255);
$input-bg: rgba(255, 255, 255, 0.2);
@import '../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap';

.outside-wrapper {
  background-image: $bg-image;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.inner-container {
  @extend .container;
}

// Pushes other content downward.
.top-area {
  height: 80%;
}

.navigation {
  position: absolute;
  min-height: $min-navigation-height;
  max-height: $max-navigation-height;
  top: 50%;
  width: 100%;
  z-index: 9999;
  background-color: transparent;
  -webkit-transition: background-color $animation-duration;
  -moz-transition: background-color $animation-duration;
  -o-transition: background-color $animation-duration;
  transition: background-color $animation-duration;

  &.fixed {
    position: fixed;
    top: 0;
    background-color: #34495E;
  }

  .content {
    padding-left: $padding-left;
    color: $text-color-white;
  }
}

.tagline {
  font-size: 1em;
  color: $text-color-white;
  padding-left: $padding-left;
}

textarea {
  resize: none;
}

