.brand {
  font-family: "ff-tisa-sans-web-pro",sans-serif;
  font-style: normal;
  font-weight: 700; }

.main-body {
  font-family: "ff-basic-gothic-web-pro",sans-serif;
  font-style: normal;
  font-weight: 100; }

.navbar-default {
  background-color: none; }
