@import 'vars';

.quote {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(http://mrap-blog.s3.amazonaws.com/quote_bg_tint.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;

  .quote-text {
    font-weight: 700;
    color: $text-color-white;
    font-size: 28px;
  }

  .quote-author {
    color: $text-color-white;
  }
}
