.quote {
  background-image: url(http://cdn.superbwallpapers.com/wallpapers/abstract/waves-and-colorful-blurs-28359-1920x1200.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }
