
@import 'vars';

.resume {
  .section {
    height: 100%;
    display: table;
  }

  .content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
  }

  .controls {
    width: 100%;
    text-align: center;
    color: black;
    margin-top: 50px;
  }

  h1 {
    font-size: 1.2em;
    font-family: "ff-basic-gothic-web-pro",sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
  }

  p {
    text-transform: uppercase;
    font-size: 0.8em;
    color: $color-light-gray;
  }

  .title-change {
    margin-top: 50px;

    // Will be faded in
    opacity: 0;
    transition: opacity 0.5s 0s ease-in;
    -webkit-transition: opacity 0.5s 0s ease-in;
    -moz-transition: opacity 0.5s 0s ease-in;
    -o-transition: opacity 0.5s 0s ease-in;
  }

  .prev-title {
    color: $color-light-gray;
    font-family: "ff-dagny-web-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
  }

  .next-title {
    color: #2ECC71;
    font-family: "ff-dagny-web-pro",sans-serif;
    font-style: normal;
    font-weight: 700;
  }

  .reveal {
    opacity: 1;
  }
}
