@import 'vars';

.section {
  background-color: white;
  width: 100%;
  display: block;

  .content {
    padding: 10%;
  }
}

h2 {
  color: #34495E;
  text-align: center;
}

p {
  color: #7F8C8D;
  text-align: center;
  font-family: "ff-basic-gothic-web-pro",sans-serif;
  font-style: normal;
  font-weight: 100;
}

