
// Global vars

$max-navigation-height: 25%;
$min-navigation-height: 44px;
$animation-duration: 0.5s;
$text-color-white: #ECF0F1;
$color-light-gray: #BDC3C7;
$color-dark-blue: #34495E;
$bg-image: url(https://mrap-blog.s3.amazonaws.com/mrap_bg_50.jpg);
$padding-left: 12%;

body {
  font-size: 18px;
}

h1,h2,h3,h4,h5,h6,p {
 line-height: 1.45;
 }

h1 { font-size: 3em;}

.brand {
  font-family: "ff-tisa-sans-web-pro",sans-serif;
  font-style: normal;
  font-weight: 700;
}

.main-body {
  font-family: "ff-basic-gothic-web-pro",sans-serif;
  font-style: normal;
  font-weight: 100;
}

