@import 'vars';

.header-section {
  position: relative;
  height: 100%;
  background-image: $bg-image;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  @include big-header-font;

  .tagline {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
    color: $text-color-white;
    text-transform: uppercase;
  }

  // fort-awesome icon
  .fa {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 15%;
    color: $text-color-white;

    &:hover {
      color: #3498DB;
    }
  }
}
