@import 'vars';

.header-section {
  position: relative;
  height: 100%;
  background-image: $bg-image;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  .content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;

    h1, h6 {
      color: $text-color-white;
      @include light-font;
    }
  }

  .tagline {
    text-transform: uppercase;
  }

  a#intro {
    cursor: pointer;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 15%;
    color: $text-color-white;
  }
}
