
@import 'vars';

.resume {

  .section {
    height: 100%;
    display: table;
  }

  .content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
  }

  .controls {
    width: 100%;
    color: black;
    margin-top: 10px;
    // Will be faded in
    opacity: 0;
    transition: opacity 0.5s 0.5s ease-in;
    -webkit-transition: opacity 0.5s 0.5s ease-in;
    -moz-transition: opacity 0.5s 0.5s ease-in;
    -o-transition: opacity 0.5s 0.5s ease-in;

    .continue {
      font-family: "ff-basic-gothic-web-pro",sans-serif;
      font-style: normal;
      font-weight: 200;
      font-size: 0.6em;
      background-color: rgb(42,161,152);
      position: absolute;
      right: 10%;
      bottom: 10px;
    }
  }

  h1 {
    font-size: 1.3em;
    font-family: "ff-basic-gothic-web-pro",sans-serif;
    font-style: normal;
    font-weight: 200;
    text-align: left;
    margin-bottom: 20px;
    // color: rgb(236,240,241);
    // color: rgb(101,123,131);
  }

  .title-change {
    text-transform: uppercase;
    font-size: 0.8em;
    color: $color-light-gray;
  }

  .prev-title {
    text-decoration: line-through;
    font-family: "ff-dagny-web-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(203,75,22);
  }

  .next-title {
    color: rgb(38,139,210);
    font-family: "ff-dagny-web-pro",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
  }

  .reveal {
    opacity: 1;
  }
}
