@import 'mixins';
@import '../bower_components/beemuse-paper/src/paper';

// Google Fonts
// Collection: http://www.google.com/fonts#UsePlace:use/Collection:Fugaz+One|Open+Sans:600italic,300
$headerFont: 1.5rem 'Fugaz One', cursive;
$deckTitleFont: italic 600 0.8rem 'Open Sans', Helvetica, sans-serif;
$font: 1rem 'Open Sans', sans-serif;

$mobileWidth: 480px;
$tabletWidth: 768px;

// Colors
$bgColor: #BECDBB;
$accentColor: #3B5087;
$primaryTextColor: #2C3E50;
$secondaryTextColor: #598591;
$deckBgColor: #ECF0F1;

html {
  font: $font;
  font-size: 13px;
  color: $primaryTextColor;
}

html, body {
  height: 100%;
}

body {
  background-color: $bgColor;
  @include retina-background-cover-image('assets/images/mrap-bg', 'jpg');
  background-position: center;
  background-attachment: fixed;
  overflow: hidden; // keep from scrolling to see the edges

  // Overlayed stripes
  &:before {
    content: '';
    position: fixed;
    height: 120%;
    width: 120%;
    background: url(assets/images/dots.png) repeat;
  }
}

.header {
  font: $headerFont;
}

// Keeps deck to a max-width
.deck-wrapper {
  max-width: 560px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.main-deck {
  background-color: $deckBgColor;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 0;
  width: 50%;
  padding-bottom: 50%;
  box-shadow: 0 10px 6px -6px black; // Use #777 for light bg

  @media only screen
  and (max-device-width: $mobileWidth),
  (max-device-width: $tabletWidth)
  and (orientation: portrait) {
    width: 70%;
    padding-bottom: 70%;
  }
}

.deck-title {
  position: absolute;
  top: -31px;
  font: $deckTitleFont;
  color: white;
  color: rgba(255,255,255,0.8);
  text-transform: uppercase;
}

.card {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-content {
  @extend .paper;
  @extend .paper-lift;
  display: table-cell;
  vertical-align: middle;
  background: url(assets/images/paper.png) repeat;
}

.title {
  text-align: center;
}
