// Materialize
@import '../bower_components/materialize/sass/components/prefixer';
@import '../bower_components/materialize/sass/components/mixins';
@import '../bower_components/materialize/sass/components/color';
@import '../bower_components/materialize/sass/components/variables';
// Reset
@import '../bower_components/materialize/sass/components/normalize';
@import '../bower_components/materialize/sass/components/global';
@import '../bower_components/materialize/sass/components/roboto';
@import '../bower_components/materialize/sass/components/typography';
@import '../bower_components/materialize/sass/components/icons-material-design';
@import '../bower_components/materialize/sass/components/buttons';

/*------------------------*\
  #VARS
\*------------------------*/

$mobileWidth: 480px;
$tabletWidth: 768px;
$maxContentWidth: 90%;

// Colors
$textColor: #1F282D;
$secondaryTextColor: #1F282D;
$linkColor: #77BED2;
$accentColor: #D3D7D7;
$bgColor: #ECF0F1;





/*------------------------*\
  #STYLES
\*------------------------*/

body {
  font-size: 15px;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $bgColor;
  color: $textColor;
  padding: 1rem;

  @media all and (min-width: $mobileWidth + 1) {
    padding: 5rem;
  }
}

* {
  box-sizing: border-box;
}

img.svg {
  visibility: hidden;
}

.section {
  position: relative;
  width: 100%;
}

.section-content {
  width: 100%;
  max-width: $maxContentWidth;
}

.section#intro {
  padding-top: 50px;
}

.main-header {
  width: 100%;

  .big-title {
    font-size: 1.7rem;
    font-weight: 300;
  }

  .main-description {
    font-weight: 300;

    @media all and (min-width: $mobileWidth + 1) {
      font-size: 2rem;
    }
    margin-bottom: 30px;
  }
}

.key-text {
  font-weight: 700;
}

.platform-icons .icon:first-child {
  margin: 0 -25px;

  @media all and (max-width: $mobileWidth) {
    margin: 0 -12px;
  }
}

.icon {
  display: inline;
  width: 80px;

  .svg {
    width: 80px;

    @media all and (max-width: $mobileWidth) {
      width: 40px;
    }

    height: 80px;
    fill: #D4D7D8;
    fill: rgba(0, 0, 0, 0.1);
  }

  .svg.shorten {
    height: 60px;
    margin-bottom: 10px;
  }
}

@media all and (max-width: $mobileWidth) {
  .icon {
    width: 40px;

    .svg {
      height: 40px;
    }

    .svg.shorten {
      height: 30px;
      margin-bottom: 5px;
    }
  }
}

@media all and (min-width: $mobileWidth + 1) {
  a#contact {
    height: 54px;
    line-height: 56px;
  }
}
