$fa-font-path: 'font/font-awesome';
@import '../bower_components/font-awesome/scss/font-awesome';

@import '../bower_components/materialize/sass/materialize';

/*------------------------*\
  #VARS
\*------------------------*/

$mobileWidth: 480px;
$tabletWidth: 768px;
$maxContentWidth: 90%;

// Colors
$textColor: #1F282D;
$secondaryTextColor: #1F282D;
$linkColor: #77BED2;
$accentColor: #D3D7D7;
$bgColor: #ECF0F1;

// Semantic
$navHeight: 64px;
$navMobileWidth: 992px;




/*------------------------*\
  #STYLES
\*------------------------*/

body {
  background-color: $bgColor;
  color: $textColor;
}

.main-container {
  margin-top: $navHeight / 2;
}

nav .nav-wrapper li i {
  // Nav link icons don't render properly in mobile sidebar
  @media all and (max-width: $navMobileWidth) {
    display: none;
  }
}

.main-description {
  text-align: center;

  @media all and (min-width: $mobileWidth + 1) {
    font-size: 2rem;
  }

  margin-bottom: 30px;
}
