@import 'vars';

.quote {
  background-image: url(http://mrap-blog.s3.amazonaws.com/quote_bg_tint.jpg);
  background-repeat: no-repeat;
  height: 300px;

  .quote-text {
    color: $text-color-white;
    font-size: 28px;
  }

  .quote-author {
    color: $text-color-white;
  }
}
